.container-fluid{
    background-image: url("backimage.jpg");
    background-size: contain;
    height: 100vmax;
    color: white;
}
.box{
    background-color: rgba(0, 0, 0,0.5);
    height: 100vmax;
    width: 100vmax;
}
.cent{
    height: 400px;
}